{% extends "account/_base.html" %}
{% load i18n %}
{% load allauth account %}
{% block page_title %}
    {% trans "Password Reset" %}
{% endblock page_title %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card p-4 shadow-sm" style="width: 100%; max-width: 400px;" id="form-login"> 
        <form method="post" action="{% url 'account_reset_password' %}">
            {% csrf_token %}

            <a class="fa-solid fa-arrow-left text-white" href="{% url 'account_login' %}"></a>

            <div class="text-center mb-4">
                <img src="{% static 'img/logo mdf-pequeno.png' %}" alt="Logo" style="width: 150px; height: auto;">
            </div>

            {# Exibe erros gerais do formulário #}
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <p>{% trans "Insira abaixo seu e-mail cadastrado, iremos lhe enviar um link para que você possa cadastrar uma nova senha." %}</p>
            
            <div class="mb-3">
                <label for="email" class="form-label">{% trans "E-mail" %}</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="{% trans 'Insira seu e-mail cadastrado' %}">
            </div>

            <button type="submit" class="btn btn-primary w-100">{% trans "Enviar" %}</button>
        </form>
    </div>
</div>
{% endblock content %}
