{% extends "account/_base.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% load static %}

{% block page_title %}
    {% trans "Password Reset" %}
{% endblock page_title %}

{% block content %}

    <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="card p-4 shadow-sm" style="width: 100%; max-width: 400px;" id="form-login"> 

            <div class="text-center mb-4">
                <img src="{% static 'img/logo mdf-pequeno.png' %}" alt="Logo" style="width: 150px; height: auto;">
            </div>

            <p>Enviamos um e-mail para você. Se você não o recebeu, por favor, verifique sua pasta de spam. Caso contrário, entre em contato conosco se não o receber em alguns minutos.</p>
            
            <a href="{% url 'account_login' %}" class="btn btn-primary w-100">{% trans "Login" %}</a>

        </div>
    </div>

{% endblock content %}
