{% extends "account/_base.html" %}
{% load i18n %}
{% load allauth %}
{% load static %}
{% block page_title %}
    {% trans "Change Password" %}
{% endblock page_title %}
{% block content %}

<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card p-4 shadow-sm" style="width: 100%; max-width: 400px;" id="form-login"> 

        <div class="text-center mb-4">
            <img src="{% static 'img/logo mdf-pequeno.png' %}" alt="Logo" style="width: 150px; height: auto;">
        </div>

        <p class="text-center">Sua senha foi alterada com sucesso.</p>
        <a href="{% url 'account_login' %}" class="btn btn-primary w-100">{% trans "Login" %}</a>
    </div>
</div>


{% endblock content %}
