<!-- Modal filtro de Maquinas -->
<div class="modal fade" id="modalFiltro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Filtro de Máquinas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <form action="{% url 'lista_maquinas' %}" method="POST">
          <div class="modal-body">
            <div>
              {% csrf_token %}

              <div class="mb-3">
                <label for="situacao" class="form-label">Situação</label>
                <select name="situacao" id="situacao" class="form-select" >
                    <option value="">Todos</option> 
                    {% for situacao_valor, situacao_titulo in situacoes %}
                      <option value="{{situacao_valor}}" {% if filtro_situacao == situacao_valor %}selected{% endif %}>{{situacao_titulo}}</option>
                    {% endfor %}
                </select>
               </div> 

              <div class="mb-3">
                <label for="filtro-ident" class="form-label">Identificação</label>
                <input type="text" class="form-control" id="filtro-ident" name="filtro-ident"  placeholder="Insira a identificação da máquina" value="{{filtro_identificacao}}">
              </div>
  
              <div class="mb-3">
                <label for="filtro-modelo" class="form-label">Modelo</label>
                <input type="text" class="form-control" id="filtro-modelo" name="filtro-modelo"  placeholder="Insira o modelo da máquina" value="{{filtro_modelo}}">
              </div>
  
              <div class="mb-3">
                <label for="filtro-grupo_veiculo" class="form-label">Grupo</label>
                <select name="filtro-grupo_veiculo" id="filtro-grupo_veiculo" class="form-select" >
                  <option value="">Todos</option>
                  {% for grupo in grupos %}
                    <option value="{{grupo.id}}" {% if filtro_grupo_veiculo == grupo.id %}selected{% endif %}>{{grupo.descricao}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="limparFiltros" name="limparFiltros" onclick="window.location.href='{% url 'lista_maquinas' %}'">Limpar Filtros</button>
            <input type="submit" value="Aplicar" class="btn btn-primary">
        </div>
        </form>
      </div>
    </div>
  </div>
  