<!-- Modal de Exclusão -->
<div class="modal fade" id="modalExcluir" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Exclusão de Multa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        <p>
          Deseja realmente excluir a multa do veículo 
          <strong id="placaMulta"></strong> 
          com auto de infração Nº <strong id="numAutoInfracao"></strong>?
        </p>
      </div>
      <div class="modal-footer">
        <form action="{% url 'excluir_multa' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" id="idMulta" name="idMulta">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-danger">Excluir</button>
        </form>
      </div>
    </div>
  </div>
</div>
