{% load i18n %}

{% blocktrans %}
    <p>Olá, </p>
    <p>Você está recebendo este e-mail porque você ou alguém solicitou a redefinição de senha para sua conta de usuário.</p>
    <p>Se você não solicitou a redefinição de senha, pode ignorar este e-mail com segurança. Clique no link abaixo para redefinir sua senha:</p>
{% endblocktrans %}

<p><a href="{{ password_reset_url }}" class="button">Redefinir Senha</a></p>

{% if username %}
    {% blocktrans %}
    <p>Caso tenha esquecido, seu nome de usuário é <strong>{{ username }}</strong>.</p>
    {% endblocktrans %}
{% endif %}

<p>Se você não fez essa solicitação, por favor, ignore este e-mail.</p>
