<div class="row">
    <div class="col">
      <div class="card card w-100 mb-4">
        <div class="card-body">
          <h5 class="card-title">Colaboradores</h5>
          <p class="card-text">{{total_colaboradores}}</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card w-100 mb-4">
        <div class="card-body">
          <h5 class="card-title">Ativos</h5>
          <p class="card-text">{{total_ativos}}</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card w-100 mb-4">
        <div class="card-body">
          <h5 class="card-title">Afastados</h5>
          <p class="card-text">{{total_afastados}}</p>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card card w-100 mb-4">
        <div class="card-body">
          <h5 class="card-title">Demitidos</h5>
          <p class="card-text">{{total_demitidos}}</p>
        </div>
      </div>
    </div>

  </div>