{% extends "_base.html" %}

{% block page_title %}
    Editar Colaborador
{% endblock page_title %}

{% block pagina_colaborador %}
  active
{% endblock pagina_colaborador %}

{% block content %}

<h1 id="titulo-pagina" class="mt-4">Colaborador</h1>

<div id="tabelaContainer" class="painel mt-4">
    <form action="{% url 'editar_colaborador' colaborador.pk %}" method="POST">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-md-2">
                <label for="situacao" class="form-label">Situação</label>
                <select class="form-select" id="situacao" name="situacao" required>
                    {% for situacao_valor, situacao_titulo in situacoes %}
                        <option value="{{ situacao_valor }}" {% if colaborador.situacao == situacao_valor %}selected{% endif %}>{{ situacao_titulo }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" required value="{{ colaborador.nome }}" placeholder="Digite o nome do colaborador">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="matricula" class="form-label">Matrícula</label>
                <input type="text" class="form-control" id="matricula" name="matricula" required value="{{ colaborador.matricula }}" placeholder="Insira a matrícula do colaborador">
            </div>
            <div class="col">
                <label for="cpf" class="form-label">CPF</label>
                <input type="text" class="form-control" id="cpf" name="cpf" required value="{{ colaborador.cpf }}" placeholder="___.___.___-__">
            </div>
            <div class="col">
                <label for="cargo" class="form-label">Cargo</label>
                <select class="form-select" id="cargo" name="cargo" required>
                    <option value="">Selecione...</option>
                    {% for cargo in cargos %}
                        <option value="{{ cargo.id }}" {% if colaborador.cargo.id == cargo.id %}selected{% endif %}>{{ cargo.descricao }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <label for="departamento" class="form-label">Departamento</label>
                <select class="form-select" id="departamento" name="departamento" required>
                    <option value="">Selecione...</option>
                    {% for departamento in departamentos %}
                        <option value="{{ departamento.id }}" {% if colaborador.departamento.id == departamento.id %}selected{% endif %}>{{ departamento.descricao }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <div class="form-floating">
                    <input type="date" class="form-control" id="data_admissao" name="data_admissao" required value="{{ colaborador.admissao|date:'Y-m-d' }}">
                    <label for="data_admissao">Admissão</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input type="date" class="form-control" id="data_desligamento" name="data_desligamento" value="{{ colaborador.desligamento|date:'Y-m-d' }}">
                    <label for="data_desligamento">Desligamento</label>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <a href="{% url 'colaboradores_lista' %}" class="btn btn-secondary me-2">Voltar</a>
            <input type="submit" value="Atualizar Cadastro" class="btn btn-primary">
        </div>
    </form>
</div>

{% endblock content %}
