<!-- Modal Tabela de Tipos -->
<div class="modal fade tipos-modal-lg" id="ModalTipos" tabindex="-1" aria-labelledby="myLargeModalTipos" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="TituloModalCentralizado">Tipos de Manutenções</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
          </div>
          <div class="modal-body">
              <div class="d-flex mb-3">
                  <button type="button" id="btnCadastrarTipo" class="btn btn-primary btn-sm ms-auto" onclick="openModal('#ModalTipos', '#cadTipos')">
                      Cadastrar
                  </button>
              </div>
              <table id="tipos" class="table table-hover table-bordered display" style="width: 100%;">
                  <thead>
                      <tr>
                          <th scope="col" class="col-md-10">Descrição</th>
                          <th scope="col">Ações</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% if tipos %}
                          {% for tipo in tipos %}
                              <tr>
                                  <td>{{ tipo.descricao }}</td>
                                  <td>
                                      <a href="#" class="fa-solid fa-pen-to-square fa-lg me-3" onclick="pegar_dados('{{ tipo.id }}', '{{ tipo.descricao }}'); openModal('#ModalTipos', '#editTipos')"></a>
                                      <a href="#" class="fa-solid fa-trash fa-lg" onclick="pegar_dados('{{ tipo.id }}', '{{ tipo.descricao }}'); openModal('#ModalTipos', '#delTipos')"></a>
                                  </td>
                              </tr>
                          {% endfor %}
                      {% endif %}
                  </tbody>
              </table>
          </div>
          <div class="modal-footer"></div>
      </div>
  </div>
</div>

<!-- Modal Cadastro de tipos -->
<div class="modal fade cadTipos-modal-sm" id="cadTipos" tabindex="-1" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Cadastrar</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
          </div>
          <form action="{% url 'novo_tipo' %}" method="POST">
              {% csrf_token %}
              <div class="modal-body">
                  <div class="form-group">
                      <label for="descricaoTipo">Descrição</label>
                      <input type="text" class="form-control" id="descricaoTipo" name="descricaoTipo" required>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Fechar</button>
                  <button type="submit" class="btn btn-success btn-sm">Cadastrar</button>
              </div>
          </form>
      </div>
  </div>
</div>

<!-- Modal Edição de Tipos -->
<div class="modal fade editTipos-modal-sm" id="editTipos" tabindex="-1" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Atualização Cadastral</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
          </div>
          <form action="{% url 'editar_tipo' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" id="idTipoEdit" name="idTipoEdit">
              <div class="modal-body">
                  <div class="form-group">
                      <label for="descricaoTipoEdit">Descrição</label>
                      <input type="text" class="form-control" id="descricaoTipoEdit" name="descricaoTipoEdit" required>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Fechar</button>
                  <button type="submit" class="btn btn-success btn-sm">Atualizar</button>
              </div>
          </form>
      </div>
  </div>
</div>

<!-- Modal de Exclusão Tipos -->
<div class="modal fade" id="delTipos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Exclusão de Tipo</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
          </div>
          <div class="modal-body">
              <p>Deseja realmente excluir o tipo <strong id="descricaoTipoDel"></strong>?</p>
          </div>
          <div class="modal-footer">
              <form action="{% url 'excluir_tipo' %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" id="idTipoDel" name="idTipoDel">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                  <button type="submit" class="btn btn-danger">Excluir</button>
              </form>
          </div>
      </div>
  </div>
</div>
