<!-- Modal de Exclusão -->
<div class="modal fade" id="modalExcluir" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Exclusão de Manutenção</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        <p>
          Deseja realmente excluir a manutenção do veículo 
          <strong id="placaManutencao"></strong> 
          documento Nº <strong id="numDocumentoManut"></strong> ?
        </p>
      </div>
      <div class="modal-footer">
        <form action="{% url 'excluir_manutencao_veiculo' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" id="idManutencao" name="idManutencao">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-danger">Excluir</button>
        </form>
      </div>
    </div>
  </div>
</div>
