<!-- Modal de Exclusão -->
<div class="modal fade" id="modalExcluir" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Exclusão de Fornecedor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        <p>Deseja realmente excluir o fornecedor <strong id="nomeFornecedor"></strong>?</p>
      </div>
      <div class="modal-footer">
        <form action="{% url 'excluir_fornecedor' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" id="idFornecedor" name="idFornecedor">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-danger">Excluir</button>
        </form>
      </div>
    </div>
  </div>
</div>
