{% extends "_base.html" %}

{% block page_title %}
    Fornecedores
{% endblock page_title %}

{% block pagina_fornecedores %}
    active
{% endblock pagina_fornecedores %}

{% block content %}

    <h1 id="titulo-pagina" class="mt-4">Fornecedores</h1>

    <div class="d-flex justify-content-end align-items-center gap-2 mb-4">
        <!-- Botão de Filtrar -->
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modalFiltroFornecedor">
            <i class="fa-solid fa-filter"></i> Filtrar
        </button>
        <!-- Botão de Cadastrar -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCadFornecedor">
            Cadastrar
        </button>
    </div>


    <div id="tabelaContainer" class="mt-2 table-responsive">
        <table id="fornecedores" class="table table-hover" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Razão Social</th>
                    <th scope="col">CNPJ</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Especialidade</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% if fornecedores %}
                    {% for fornecedor in fornecedores %}
                        <tr>
                            <td>{{ fornecedor.nome }}</td>
                            <td>{{ fornecedor.razao_social }}</td>
                            <td>{{ fornecedor.cnpj }}</td>
                            <td>{{ fornecedor.telefone }}</td>
                            <td>{{ fornecedor.email }}</td>
                            <td>{{ fornecedor.especialidade|default_if_none:"" }}</td>
                            <td>
                                <div class="dropdown">
                                    <i class="fa-solid fa-edit" type="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item" href="{% url 'editar_fornecedor' fornecedor.id %}">Editar</a></li>
                                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalExcluir" onclick="dados_forn_del('{{ fornecedor.id }}', '{{ fornecedor.nome }}')">Excluir</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

    <div>
        {% include "fornecedores/cadastro_fornecedor.html" %}
    </div>

    <div>
        {% include "fornecedores/excluir_fornecedor.html" %}
    </div>

    <div>
        {% include "fornecedores/filtro.html" %}
    </div>

{% endblock content %}
